

#mainTable { 
    border: 2px solid black;
}



td,th{ 
    padding: 10px;
    border: 1px solid black;
}


/* 
Here we will see a specificty conflict. There is a list item 
that will not be green, because that list item has a more specific 
selector type, a class. 
*/
li{ 
    color: green;
}

.SpecialExperience { 
    color: blueviolet;
}



.detail { 
    font-style: italic;
}


